<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Real Time Markdown Viewer</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body class="container-fluid">
        Hello there!
    </body>
</html>
